<!-- 

{% for b in ports %}
<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Portfolio</h2>
        <div class="row row-bottom-padded-md">
         
            <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <a href="#" class="blog-img"><img src="{{b.image.url}}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                    <div class="desc">
                        <h3><a href="#">{{b.title}}</a></h3>
                        <span><small>{{b.author}} </small> / <small>{{ b.languages }} </small> <small><i class="icon-comment"></i></small></span>
                        <p class="text-center">{{ b.description|slice:":100" }}...</p>
                        <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>  
            </div>
            
        </div>
    </div>
 </div>
 {% endfor %} -->