{% extends "app/index.html" %}

{% load static %}
{% block content %}

<div id="fh5co-main">
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
           <li style="background-image: url({% static 'images/img_bg_1.jpg' %});">
               <div class="overlay"></div>
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                           <div class="slider-text-inner">
                               <h1>Intuitive <strong></strong> is How Give We the User New Superpowers</h1>
                               <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                                <p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>
                           </div>
                       </div>
                   </div>
               </div>
           </li>
           <li style="background-image: url({% static 'images/img_bg_1.jpg' %});">
               <div class="overlay"></div>
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                           <div class="slider-text-inner">
                               <h1>We are Happy to Create Newest Modern Websites</h1>
                                <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                                <p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>
                           </div>
                       </div>
                   </div>
               </div>
           </li>
           <li style="background-image: url({% static 'images/img_bg_1.jpg' %});">
               <div class="overlay"></div>
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                           <div class="slider-text-inner">
                               <h1>Download our Free HTML5 Bootstrap Template</h1>
                                <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                                <p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>
                           </div>
                       </div>
                   </div>
               </div>
           </li>
          </ul>
      </div>
      
</aside> 
{% include "app/recentblog.html" %}





{% if messages %}
<div class="alert alert-success">
    {% for m in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
    {% endfor %}
</div>
{% endif %}
<div class="fh5co-narrow-content">
	<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">projects</h2>
    <div class="row row-bottom-padded-md">
		{% for project in projects %}
        <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
            <div class="blog-entry">
                <a href="{% url 'detail' project.pk %}" class="blog-img"><img src="{{project.image.url}}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                <div class="desc">
                    <h3><a href="#">{{project.title}}</a></h3>
                    <span><small>{{project.author}}</small> / <small> {{ project.languages }} </small> / <small> <i class="icon-comment"></i> 14</small></span>
                    <p>{{ project.description|slice:":100" }}...</p>
                    <a href="{% url 'detail' project.pk %}" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                    {% if user.is_authenticated %}
                        {% if user.id == project.author.id %}
                    <a href="{% url 'update' project.pk %}" class="lead">update <i class="icon-arrow-right3"></i></a>
                    <a href="{% url 'delete' project.pk %}" class="lead">Delete<i class="icon-arrow-right3"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
		</div>
		{% endfor %}
	</div>
</div>


{% include "app/serveces.html" %}


{% endblock content %}
