
  
<div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Services</h2>
    <div class="row">
        {% for serv in service_list %}
        <div class="col-md-6">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                
                <div class="fh5co-icon">
                    <i ><img src="{{serv.image_service.url}}" alt=""></i>
                    
                </div>
                <div class="fh5co-text">
                    <h3>{{serv.title_service}}</h3>
                    <p>{{serv.about_service|slice:":100"}}</p>
                    
                        <a href="{% url 'detail' serv.pk %}" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        {% if user.is_authenticated %}
                            {% if user.id == 1 %}
                        <a href="{% url 'update_service' serv.pk %}" class="lead">Update<i class="icon-arrow-right3"></i></a>
                        <a href="{% url 'delete' serv.pk %}" class="lead">Delete<i class="icon-arrow-right3"></i></a>
                            {% endif %}
                        {% endif %}
                </div>
                
            </div>
            
        </div>
        
        {% endfor %}
    </div>
   
</div>
